# Exploratory Data Analysis

Refactored code from Week 3 of WiMLDS Data Science Lab

In [1]:
# imports and magic line
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

from emissionscheck_alb import data

## Read data `sample.csv`

In [2]:
df = pd.read_csv("../data/interim/sample.csv", lineterminator='\n')

/home/mdado/anaconda3/envs/dslab/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (5,7,18,26,108,109,113) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Data exploration

In [3]:
# get columns for data exploration
df_subset = df[["RecordID", "TEST_SDATE", "TEST_EDATE", "ODOMETER", "VEHICLE_TYPE", "MODEL_YEAR", "FUEL_TYPE", "GVW_TYPE", "OVERALL_RESULT"]]

In [4]:
# get car age
df_subset = data.get_car_age(df_subset)
df_subset.head()

,RecordID,TEST_SDATE,TEST_EDATE,ODOMETER,VEHICLE_TYPE,MODEL_YEAR,FUEL_TYPE,GVW_TYPE,OVERALL_RESULT,CAR_AGE
0,111260,2004-12-16 10:57:00,2004-12-16 11:03:00,53274,3,1994,G,1.0,P,11
1,138031,2004-08-13 14:10:00,2004-08-13 14:12:00,109225,1,2000,G,1.0,P,5
2,298121,2004-08-31 13:03:00,2004-08-31 13:03:00,110347,1,1989,G,1.0,A,16
3,369185,2004-12-02 11:33:00,2004-12-02 11:39:00,152121,4,1985,G,2.0,P,20
4,384955,2004-12-29 17:00:00,2004-12-29 17:03:00,135640,1,1997,G,1.0,P,8

In [5]:
# how many rows?
num_rows_orig = df_subset.shape[0]

In [6]:
# Keep rows with only P or F in OVERALL RESULT
df_subset = data.keep_pass_fail(df_subset)

In [7]:
# how many rows after removal of non-pass/fail result?
num_rows_passfail = df_subset.shape[0]